<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amanda's Blog</title>
</head>

<body>
    <header>
        <h1>Amanda's Blog</h1>
    </header>

    <article>
        <time>published: June 26,2022, 1:47pm</time>
        <h2>Another First</h2>
        <p>Gosh Mom… after all these years, God's not going to take a call from you. I was set up. By the Brits. A group of British builders operating outside the O.C.</p>
    </article>

    <article>
        <time>published: June 26, 2022, 1:49pm</time>
        <h2>In Need of Vacation</h2>
        <p>Oh, I'm sorry, I forgot… your wife is dead! I'm sure Egg is a great person. Did you enjoy your lunch, mom? You drank it fast enough. They don't appreciate him. It's his glasses… they make him look like a lizard. Plus he's self-conscious.</p>
    </article>
</body>

</html>